{
    "account": "{{account}}",
    "host": "{{host}}",
    "port": "{{port}}",
    "network_id": "{{network_id}}",
    "private_key_pwd": "{{private_key_pwd}}",
    "private_key": "{{private_key}}",
    "max_exchange_value_in_wei": "5000000000000000000",
    "min_contract_balance_in_wei": "10000000000000000000",
    "amount_to_buy_on_min_in_wei": "4990000000000000000"
}
